Repository thisvolwebnik/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,sass}": ["stylelint --fix", "prettier --write"],
  "*.{json,md,yml,yaml,html}": ["prettier --write"]
}

feat: header section adapter
  .husky/pre-commit
  index.html
  src/styles/base/base.scss
  src/styles/components/burger-menu.scss
  src/styles/index.scss
  src/styles/layout/header.scss
Due: prettier --write, stylelint --fix

feat: add the logic for opening and closing the burger menu
  index.html
  src/scripts/Components/BurgerMenu.js
  src/scripts/index.js
Due: eslint --fix, prettier --write

feat: add Hero Section HTML Markup and SCSS Styles
  index.html
  src/assets/icons/arrow-down.svg
  src/assets/images/hero/1.jpg
  src/assets/images/hero/2.jpg
  src/styles/base/typography.scss
  src/styles/components/icon.scss
  src/styles/components/metrics.scss
  src/styles/index.scss
  src/styles/layout/hero.scss
Due: prettier --write, stylelint --fix

feat: add HTML markup and scss styles in the about section
  index.html
  src/assets/images/about/1.jpg
  src/assets/images/about/2.jpg
  src/assets/images/about/3.jpg
  src/styles/abstracts/variables.scss
  src/styles/base/typography.scss
  src/styles/index.scss
  src/styles/layout/about.scss
  src/styles/layout/hero.scss
Due: prettier --write, stylelint --fix

feat: add adaptive hero and about sections
  index.html
  src/scripts/Components/BurgerMenu.js
  src/styles/abstracts/constants.scss
  src/styles/base/base.scss
  src/styles/base/typography.scss
  src/styles/layout/about.scss
  src/styles/layout/header.scss
  src/styles/layout/hero.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add HTML markup and scss style for the portfolio section
  index.html
  src/assets/images/portfolio/1.jpg
  src/assets/images/portfolio/10.jpg
  src/assets/images/portfolio/11.jpg
  src/assets/images/portfolio/12.jpg
  src/assets/images/portfolio/2.jpg
  src/assets/images/portfolio/3.jpg
  src/assets/images/portfolio/4.jpg
  src/assets/images/portfolio/5.jpg
  src/assets/images/portfolio/6.jpg
  src/assets/images/portfolio/7.jpg
  src/assets/images/portfolio/8.jpg
  src/assets/images/portfolio/9.jpg
  src/styles/components/slider.scss
  src/styles/index.scss
  src/styles/layout/portfolio.scss
Due: prettier --write, stylelint --fix

feat: add HTML markup for the pricing section
  index.html
  src/styles/components/slider.scss
Due: prettier --write, stylelint --fix

feat: add SCSS styles for the pricing section
  index.html
  src/styles/abstracts/variables.scss
  src/styles/base/base.scss
  src/styles/base/typography.scss
  src/styles/components/card.scss
  src/styles/index.scss
  src/styles/layout/pricing.scss
Due: prettier --write, stylelint --fix

feat: add adaptive pricing section
  src/styles/layout/pricing.scss
Due: prettier --write, stylelint --fix

feat: add HTML markup for a modal window, scss styles, and its adaptive nature
  index.html
  src/styles/components/cross.scss
  src/styles/components/modal.scss
  src/styles/index.scss
Due: prettier --write, stylelint --fix

feat: add functionality for opening and closing a modal window
  index.html
  src/scripts/Components/PricingModal.js
  src/scripts/index.js
  src/styles/components/modal.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add HTML markup, scss styles, and adaptive questions sections
  index.html
  src/styles/components/accordion.scss
  src/styles/index.scss
  src/styles/layout/questions.scss
Due: prettier --write, stylelint --fix

feat: add accordion functionality
  index.html
  src/scripts/Components/Accordion.js
  src/scripts/index.js
  src/styles/components/accordion.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add HTML markup and SCSS styles for the footer section
  .prettierrc
  index.html
  package-lock.json
  src/styles/index.scss
  src/styles/layout/footer.scss
Due: prettier --write, stylelint --fix

feat: add adaptive section footer
  index.html
  src/styles/layout/footer.scss
Due: prettier --write, stylelint --fix

feat: add Scroll function when pressing the scroll down button
  index.html
  src/scripts/Components/Scrolling.js
  src/scripts/index.js
  src/styles/layout/hero.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add a pinned header, navigation links, and scrolling functionality to a selected section, closing the burger menu
  index.html
  src/scripts/Components/BurgerMenu.js
  src/styles/base/base.scss
  src/styles/layout/header.scss
  src/styles/layout/hero.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add functional slider
  .github/workflows/deploy.yml
  index.html
  package-lock.json
  src/scripts/Components/Slider.js
  src/scripts/index.js
  vite.config.js
Due: eslint --fix, prettier --write

fix: fix gh pages
  package.json
  stylelint.config.mjs
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write
